<div class="row" id="cmdmanage">
  <div class="col-xs-8">
    <button class="btn btn-default" id="<%common%>_addcmd">添加命令</button>
    <modal id="<%common%>_addcmd_manage" :showp.sync="platzooms['addcmd']" effect="zoom">
      <div slot="modal-header" class="modal-header">
          <button type="button" class="modal-btn close" @click="closeplat($event,'addcmd')" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
          <button type="button" class="modal-btn maxify" @click="maxplat($event,'addcmd')">
          <span  v-if="!platismax['addcmd']" class="glyphicon glyphicon-unchecked"></span>
          <span v-if="platismax['addcmd']" class="glyphicon glyphicon-modal-window"></span></button>
          <button type="button" class="modal-btn minify" @click="minplat($event,'addcmd')"><span  class="glyphicon glyphicon-minus"></span></button>
        <h4 class="modal-title">
            <b><%commontitle%>-添加命令</b>
        </h4>
      </div>
      <div slot="modal-body" class="modal-body">
          
      </div>
    </modal>

    <button class="btn btn-danger" v-if="deletebtn.script" @click="removescs('script')">删除</button>
  </div>
  <div class="col-xs-4">
      <div class="input-group panel">
         <div class="input-group-addon search-addon"><span class="glyphicon glyphicon-search"></span></div>
         <input type="text" class="form-control search-input" id="exampleInputAmount" placeholder="">
       </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <table id="cmd_table"
             data-toolbar="#toolbar"
             data-show-refresh="true"
             data-show-toggle="true"
             data-show-columns="true"
             data-show-export="true"
             
             data-strict-search="true"
             data-minimum-count-columns="2"
             data-show-pagination-switch="true"
             data-pagination="true" data-page-size="15" data-pagination-first-text="第一页" data-pagination-pre-text="上一页" data-pagination-next-text="下一页" data-pagination-last-text="最后一页"
             data-id-field="id"
             data-page-list="[15, 30, 50, 100, ALL]"
             data-show-footer="false"><!--data-search="true" data-side-pagination="server" data-detail-formatter="detailFormatter"-->
      </table>
  </div>
</div>
