{% load poll_extras %}
{% if form.errors %}
{{form.non_field_errors}}
{% endif %}

{% if form.has_file %}
<form class="form-horizontal" role="form" action="{{url}}" method="post" enctype="multipart/form-data">
{% else %}
<form class="form-horizontal" role="form" action="{{url}}" method="post">
{% endif %}
    {% for field in form.visible_fields %}
    <div class="form-group">
        {{field|label_attr:"col-lg-4 control-label"}} 
        <div class="col-lg-8">
        {{field}}
        {{field.help_text}} {% if field.field.required %}<span style="color:red">*</span>{% endif %}
        </div>
    </div>
    {% endfor %}
    <input type='submit' class="btn btn-primary" value="提交">
</form>

<script>
function ResetAPIKey(url){
    $.ajax({
        type:"GET",
        url:url,
        dataType:"json",
        success:function(data){
            $("#id_apikey").val(data.msg);
        }
    });
}
</script>
