<script src="{{STATIC_URL}}js/vue.min.js"></script>
<script src="{{STATIC_URL}}js/vue-strap.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/jquery-ui.min.js"></script>
<script src="{{STATIC_URL}}js/fancytree/jquery.fancytree-all.min.js"></script>
<script src="{{STATIC_URL}}js/plugins.js"></script>
<script src="{{STATIC_URL}}js/toastr.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-table.min.js"></script>
<script src="{{STATIC_URL}}js/table-export.js"></script>
<script src="{{STATIC_URL}}js/tableExport.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-table-natural-sorting.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-table-editable.min.js"></script>
<script src="{{STATIC_URL}}js/bootstrap-editable.js"></script>
<script src="{{STATIC_URL}}js/jquery.datetimepicker.min.js"></script>
<script src="{{STATIC_URL}}js/highcharts.js"></script>

<script src="{{STATIC_URL}}js/resocket.js"></script>
<!-- <script src="{{STATIC_URL}}css/suit.js"></script> -->
<!-- <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> -->
<script src="{{STATIC_URL}}js/highlight.min.js"></script>