<div class="row">
  <div class="col-xs-8">
    <button class="btn btn-default" @click="show($event,'addplat')">添加平台</button>
    <modal id="addplat_manage" :show.sync="zooms['addplat']" effect="zoom">
      <div slot="modal-header" class="modal-header">
          <button type="button" class="modal-btn close" @click="close($event,'addplat')" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
          <button type="button" class="modal-btn maxify" @click="max($event,'addplat')">
          <span  v-if="!ismax['addplat']" class="glyphicon glyphicon-unchecked"></span>
          <span v-if="ismax['addplat']" class="glyphicon glyphicon-modal-window"></span></button>
          <button type="button" class="modal-btn minify" @click="min($event,'addplat')"><span  class="glyphicon glyphicon-minus"></span></button>
        <h4 class="modal-title">
            <b>添加平台</b>
        </h4>
      </div>
      <div slot="modal-body" class="modal-body background-select">
        <div class="row">
          <div class="col-xs-12">
            <form>
              <div class="form-group col-xs-6 panel">
                <label class="sr-only" for="exampleInputEmail3">用户名</label>
                <input type="text" class="form-control" id="exampleInputEmail3" placeholder="平台名称">
              </div>
              <div class="form-group  col-xs-6 panel">
                <label class="sr-only" for="exampleInputPassword3">邮箱</label>
                <input type="number" min="1" class="form-control" id="exampleInputPassword3" placeholder="平台ID">
              </div>
              <div class="form-group  col-xs-6 panel">
                <label class="sr-only" for="exampleInputPassword3">邮箱</label>
                <input type="text" class="form-control" id="exampleInputPassword3" placeholder="平台缩写">
              </div>
              <div class="form-group  col-xs-6 panel">
                <label class="sr-only" for="exampleInputPassword3">邮箱</label>
                <input type="url" class="form-control" id="exampleInputPassword3" placeholder="平台网站">
              </div>
              <div class="form-group  col-xs-6 panel">
                <label class="sr-only" for="exampleInputPassword3">邮箱</label>
                <input type="text" class="form-control" id="exampleInputPassword3" placeholder="平台负责人">
              </div>
              <div class="col-xs-6 panel">
                <button type="button" class="btn btn-default">确认</button>
                <button type="button" class="btn btn-default">取消</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </modal>
    <button class="btn btn-danger" v-if="removebtn.plat" @click="removesm('plat')">删除</button>
  </div>
  <div class="col-xs-4">
      <div class="input-group panel">
         <div class="input-group-addon search-addon"><span class="glyphicon glyphicon-search"></span></div>
         <input type="text" class="form-control search-input" v-model="search" id="platformsearch" placeholder="">
       </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <table id="platforms_table"
             data-toolbar="#toolbar"
             data-show-refresh="true"
             data-show-toggle="true"
             data-show-columns="true"
             data-show-export="true"
             
             data-strict-search="true"
             data-minimum-count-columns="2"
             data-show-pagination-switch="true"
             data-pagination="true" data-page-size="15" data-pagination-first-text="第一页" data-pagination-pre-text="上一页" data-pagination-next-text="下一页" data-pagination-last-text="最后一页"
             data-id-field="id"
             data-page-list="[15, 30, 50, 100, ALL]"
             data-show-footer="false"><!--data-search="true" data-side-pagination="server" data-detail-formatter="detailFormatter"-->
      </table>
  </div>
</div>
<script>
  // $.getScript("{{STATIC_URL}}js/startmenu/platforms-manage.js")
</script>
